useDynLib(rcppreqtl)


export(fit)
export(fitsh)
export(simu4)
export(simu2)
export(makeXmatr)
export(readCounts)
#export(trec1irw0)
#export(trec1irw_b0)
#export(trec1irw_b1)
#export(trecase1irw_b0)
#export(trecase1irw_b1)
#export(trecase1irw_b01)
#export(ase)

#export(trecase1irwsh_b0)
#export(trecase1irwsh_b1)
#export(trecase1irwsh_b01)
