useDynLib(rcppreqtl)


export(fit)
export(fitsh)
export(fit1m)
export(simu8)
export(simu4)
export(simu2)
export(makeXmatr)
export(readCounts)

import(MASS)
import(VGAM)
importFrom("stats", "var", "median", "pchisq", "rnorm", "rbeta", "rnbinom", "rbinom")

export(trec1irw0)
export(trec1irw_b0)
export(trec1irw_b1)
export(trecase1irw_b0)
export(trecase1irw_b1)
export(trecase1irw_b01)
#export(ase)

export(trecase1irwsh_b0)
export(trecase1irwsh_b1)
export(trecase1irwsh_b01)
#no b0, no b1
export(trecase1irw0)
export(trecase1irwsh0)
